                    <!-- **************Day1******************* -->

<!-- <app-first></app-first>

<app-second></app-second> -->

                    <!-- **************Day2******************* -->
<!-- <app-login (myEvent)="addStudent($event)"></app-login>

<app-home [dataHome]="students"></app-home> -->

                    <!-- **************Day3******************* -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActiveOptions]='{exact:true}' routerLinkActive="active" routerLink="">Employees <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="employees/20">Employee Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="error">Error</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4 ">
    <router-outlet></router-outlet>
</div>